.menu{

   padding: 0;
    list-style: none;

}
.layout{
    display: flex;
    min-height: 100vh;

}
.aside{
    width: 50px;
    background-color: #f1f0f0;
}
.main{
    width: 100%;
    background-color: #f1f0f050;
}
.authList{
    padding: 20px;
    margin: 0;
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    
    list-style: none;

}
.icon{
    width: 30px;
    height: 30px;
    padding: 10px;
    color: inherit;

    border-radius: 50%;

    background-color: #f1f0f0;
    transition: transform 200ms ease-in;
}
.icon:hover, 
.icon:focus {

    transform: scale(1.4);
}
.active{
    color:var(--accent-color);
}
.inactive{
    color: var(--main-color);
}
