.label{
    display: block;
    padding-left: 20px;
    color: rgb(125, 124, 124);
}
.input {
    
    min-width: 200px;
    height: 30px;
    margin-left: 20px;
    outline-color: rgb(250, 124, 56);
    border-radius: 2px;
    border: 1px solid darkgray;
}
.input::placeholder{
    color:rgb(250, 124, 56);
}
.input:focus {
    background-color: rgba(250, 124, 56, 0.053);
}