.wrapper{
    display: flex;
}
.innerLeft{
    display: flex;
    align-items:center;
    width: 45%;
    height: 100vh;
        background-color: #f1f0f050;

}
.innerRight{
        display: flex;
        flex-grow: 1;
        align-items: center;
        height: 100vh;
        justify-content: center;
}

.logo {
    font-size: 50px;
    font-family: 'Indie Flower', cursive;
    font-style: italic;
    color: var(--accent-color);
}

.title {
    width: 290px;
    margin-left: auto;
    margin-right: auto;
}
.form{
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;

    /* background-color: #f1f0f0; */
}

.input {
    width: 250px;
    height: 40px;

    outline-color: var(--accent-color);
    border-radius: 5px;
    border: 1px solid var(--main-color);
}
.input::placeholder {
    padding-left: 15px;
    font-size: 15px;
    color: var(--accent-color);
    opacity: 0.5;
}
.input:focus {
    background-color: rgba(250, 124, 56, 0.053);
}
.link{
    color: var(--main-color);
    text-decoration: none;
    border-bottom: 1px solid var(--main-color);
}

.password {
    position: relative;
}

.eyeBtn {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 40px;

    border: none;
    background-color: inherit;

}

.eye {
    width: 18px;
    height: 18px;
    color: var(--main-color);
}
