.logo{ 
    font-size: 30px;
    font-family: 'Indie Flower', cursive;
    font-style: italic;
    color: rgb(250, 124, 56);
}

.title{
    width: fit-content;
        margin-left: auto;
        margin-right: auto;
}